/* 기본 설정 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 중앙 정렬 및 스타일링 */
.page-container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* max-width: 1000px; */
  /* width: 500px; */
  width: 1000px;
  margin: 20px;
  flex-direction: row;
}

.page-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
  background-color: #bcbeff;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.page-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
  font-weight: 800;
  /* text-align: ; */
}
.page-container form div {
  margin-bottom: 15px;
}

.page-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.study-process {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.study-process label {
  display: flex;
  font-size: 15px;
  background-color: #e3e4fa;
  padding: 10px;
  margin-right: 30px;
  border-radius: 10px;
  /* width: 100%; */
  text-align: center;
}
.page-container input[type="text"],
.page-container input[type="number"],
.page-container select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.page-container input[type="radio"] {
  margin-right: 5px;
}

.info-container {
  background-color: white;
  padding: 20px;
  width: 100%;
}

/* 이전, 다음 버튼 스타일링 */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  justify-content: center;
}

.button-container button {
  background-color: #9195f6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #888be7;
}

.button-container button:focus {
  outline: none;
}

.button-container button:disabled {
  background-color: #cccccc; /* 비활성화 상태일 때의 배경색 */
  color: #666666; /* 비활성화 상태일 때의 글자색 */
  cursor: not-allowed; /* 비활성화 상태일 때 커서 모양 */
}

.button-container .previous {
  background-color: #cccfdb;
}

.button-container .previous:hover {
  background-color: #c4c8d9;
}

/* ArtworkPage 버튼 스타일도 동일 적용 */
.artwork-page .button-container {
  position: absolute;
  /* display: flex */
  /* width: 100%; */
  justify-content: space-between;
  /* bottom: 20px; */
  left: 20px;
  right: 20px;
}
